    
html, body {
            background-color: #fff;
            color: #636b6f;
            font-family: 'Raleway', sans-serif;
            font-weight: 100;
            height: 100vh;
            margin: 0;
    }

.full-height {
    height: 100vh;
   
    }

#home {
        background-color: #ECF7F3;
        background-image: url("/img/bg.png");
        background-position: center bottom;
        background-size:auto;
        background-repeat: repeat-x;
    }
.flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

.position-ref {
        position: relative;
    }

        .top-right {
            position: absolute;
            right: 10px;
            top: 18px;
        }

        .content {
            text-align: center;
        }

        .title {
            font-size: 5em;

        }

        .links > a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }
        .navbar-toggle {
            background-color: #080808 !important;
        }
        .m-b-md {
            margin-bottom: 30px;
        }
        .smallText {
            font-size:40px;
            font-weight: 500;
            padding: 5px;
            margin: 5px;
        }
        .text-orange {
            color: #fb503b;
        }
        .text-medium {
            font-weight: 600;
            font-size: 1.2em;
        }
        .text-large {
            font-weight: 600;
            font-size: 1.5em;
        }
        .subhead {
            color: #424242;
            font-weight: 800;
            font-size: 3em;
            //margin-left: 7.66%;
            text-align: center;
            display: block;
            //color: #202020;
            //background-color: #2d2d2d;
            //letter-spacing: .1em;
            //text-shadow: 
              -1px -1px 1px #111, 
              2px 2px 1px #363636;
        }
        .navbar-inverse {
            background-color: #ffffff;
            border-color: #080808;
        }
        .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
            font-weight: 600;
            background-color: #FB503B;
        }
        .navbar-inverse .navbar-nav>li>a {
            color: #080808;
            font-weight: 500
        }
        .navbar-inverse .navbar-nav>li>a:focus,
        .navbar-inverse .navbar-nav>li>a:hover{
            color: #ffffff;
            font-weight: 600;
            background-color:#FB503B; 
            
        }


        .navbar-inverse .navbar-nav > .active > a {
          border-radius: 0;
          color: white;
          background-color: #FB503B;
        }
        .navbar-inverse .navbar-nav > .active > a:hover,
        .navbar-inverse .navbar-nav > .active > a:focus {
          color: white;
          background-color: #FB503B;
        }

        .bg-grey100{
            background-color:#F5F5F5; 
        }
        .bg-grey300{
            background-color:#E0E0E0;   
        }
        .bg-grey600{
            background-color:#757575;
        }
        .bg-grey800{
            background-color:#424242;
        }
        .bg-grey900{
            background-color:#212121;
        }
        .bg-orange{
            background-color:#FB503B;
        }
        .image-holder{
            max-width: 300px;
            margin: 20px;
            display: inline-block;
        }
        .speaker-holder{
            //float: left;
        }
        .about-speaker{
            text-align: center;
        }
        .speaker-name{
            font-size: 1.5em;
            
        }
        .speaker-title{
            //text-align: center;
            font-size: 1.3em;
            color:#000000;
        }


img
{
    vertical-align: middle;
}
.img-responsive
{
    display: block;
    height: auto;
    max-width: 100%;
}
.img-rounded
{
    border-radius: 3px;
}
.img-thumbnail
{
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}
.img-circle
{
    border-radius: 50%;
}

            * {
                    box-sizing: border-box;
                }

                /* Create three columns of equal width */
                .columns {
                    float: left;
                    width: 33.3%;
                    padding: 8px;
                }

                /* Style the list */
                .price {
                    list-style-type: none;
                    border: 1px solid #eee;
                    margin: 0;
                    padding: 0;
                    -webkit-transition: 0.3s;
                    transition: 0.3s;
                }

                /* Add shadows on hover */
                .price:hover {
                    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
                }

                /* Pricing header */
                .price .header {
                    background-color: #111;
                    color: white;
                    font-size: 25px;
                }

                /* List items */
                .price li {
                    border-bottom: 1px solid #eee;
                    padding: 20px;
                    text-align: center;
                }

                /* Grey list item */
                .price .grey {
                    background-color: #eee;
                    font-size: 20px;
                }

                /* The "Sign Up" button */
                .button {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 10px 25px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 18px;
                }

                /* Change the width of the three columns to 100% 
                (to stack horizontally on small screens) */
                @media only screen and (max-width: 600px) {
                    .columns {
                        width: 100%;
                    }
                }  
